In [9]:
import os
# import pickle as pkl
# import re
import sys
import warnings

import numpy as np
import pandas as pd
from scipy.stats import ks_2samp
warnings.filterwarnings('ignore')

# define functions

In [4]:
def get_sample(df, significance = 0.05, sample_size = 5000, iterations = 100):
    for i in range(iterations):
        sample = df.sample(sample_size)
        sample_indexes = sample.index
        retrieved = True
        for var in range(df.shape[1]):
            var_sample = np.array(sample.iloc[:,var])
            metrics = ks_2samp(df.iloc[:,var], var_sample)
            pvalue = round(metrics[1], 3)
#             print(pvalue)
            if pvalue < significance: 
                retrieved = False
                break
        if retrieved == True: 
            print('found sample after {} iterations'.format(i+1) )
            return sample
    if not retrieved: raise ValueError("Could not build samples with {} iterations, significane={}, and sample_size={}"
                           .format(iterations,significance,sample_size))

# Define paths and capture data

In [7]:
inputs = os.path.join('..', 'data', '01_raw')
outputs = os.path.join('..', 'data', '01_raw')

data = pd.read_csv(os.path.join(inputs, 'train_transaction.csv'))
# data_identity = pd.read_csv(os.path.join(inputs, 'train_identity.csv'))

In [ ]:
df_train = df_trans.merge(df_id, how='left', left_index=True, right_index=True)

# data sampling

In [11]:
# data = get_sample(data, significance=0.05, sample_size=5000, iterations=10)
data = data.sample(10000)

In [13]:
print('shape of data:', data.shape[0], data.shape[1])
data.head()

shape of data: 10000 394

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
499774,3486774,0,13107389,38.056,C,9633,130.0,185.0,visa,138.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75695,3062695,0,1650884,150.000,R,15063,514.0,150.0,visa,226.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
286443,3273443,0,7048761,56.500,W,9006,555.0,143.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397445,3384445,0,10011292,8.459,C,11201,103.0,185.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502059,3489059,0,13159069,77.950,W,7919,194.0,150.0,mastercard,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# save data

In [14]:
data.to_csv(os.path.join(outputs, 'data_sample.csv'))